{% paginate collection.products by 12 %}
  <header class="collection__header" role="banner">
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="desc">
        {{ collection.description }}
      </div>
    {% endif %}
  </header>

  <div class="collection">
    {% for product in collection.products %}
      <div>
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image | img_url: '249x249', crop: "top"}}" alt="{{ product.title }}">
          </a>
        {% endif %}

        <h3>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </h3>
        {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
        <p class="price">
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              <span class="badge">{{ 'products.product.on_sale_from_html' | t: price: sale_price }}</span>
            {% else %}
            <span class="badge">{{ 'products.product.on_sale' | t }}</span>
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.tags contains 'New' or product.tags contains 'new' %}
              <span class="badge new">New!</span>
            {% endif %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
          {% endunless %}
        </p>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>

          <h3>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </h3>

          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
{% endpaginate %}
