{% include 'breadcrumbs' %}
<section data-section-id="{{ section.id }}" data-section-type="product">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="product">
    <div class="image">
        {% for image in product.images %}
          {% capture wrapper_class %}
            {%- unless featured_image == image -%}
              hide
            {%- endunless -%}
          {% endcapture %}

          {% include 'responsive-image' with
            image: image,
            max_width: 511,
            max_height: 511,
            image_attributes: "data-product-featured-image",
            wrapper_class: wrapper_class,
            wrapper_attributes: "data-product-image-wrapper",
          %}
        {% endfor %}

        {% if product.images.size > 1 %}
          <div class="slider">
            {% for image in product.images %}
              
                <a href="{{ image.src | img_url: '511x511' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                  <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '118x118' }}" alt="{{ image.alt | escape }}">
                </a>
              
            {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="info">
        <h1>{{ product.title }}</h1>
		 <div class="price total-price bold_option_price_display">  {{ product.price | money }}</div>  
		
	   
	          {% if tag contains 'napkin' or 'napkins' %}
	              {% include 'napkin-colors' %}
	          {% endif %}
	      
		
        
        {% include 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false %}
        {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
     
 
      
     
            <select name="id" id="productSelect" class="variants">
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
             <div class="bold_options" data-product-id="{{ product.id }}"></div> 
            </select>

		 	
   
      
		 
		  
		  
          <div class="add-cart">
            <fieldset>
            <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1">
          </fieldset>

          <button
          type="submit"
          name="add"
          data-submit-button
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span data-submit-button-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
        </button>
          </div>
      
        {% endform %}
        <div class="rte">
            {{ product.description }}
        </div>
        {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}
    </div>
  </div>
</section>
<div class="bgwrap">
<section class="monogram-tips">
  <div class="container">
      <div class="col text">
        {%- if section.settings.title != blank -%}
          <h3>{{ section.settings.title | escape }}</h3>
        {%- endif -%}
          <h3>{{ section.settings.mono_title }}</h3>
          <a href="/pages/monogram-etiquette">See common examplesof monogram etiquette.</a>
          {% assign categories = "SINGLE FEMALE,MARRIED FEMALE,MARRIED COUPLE,MALE,CHILDREN,COUPLES WITH DIFFERENT LAST NAMES" | split: ',' %}
          {% for category in categories %}
            {% assign count = 0 %}
            <div class="area">
            {% for block in section.blocks %}
              {% if block.settings.type == category %}
                {% assign count = count | plus: 1 %}
                {% if count == 1 and block.settings.title != blank %}
                  <h4>{{ category }}</h4>
                  {% assign first_img_m = block.settings.image %}
                {% elsif count == 1 %}  
                  <h4><a class="example" href="{{ block.settings.image | img_url: '339x' }}">{{ category }}</a></h4>
                {% endif %}
                {% if block.settings.title != blank %}
                  <a class="example" href="{{ block.settings.image | img_url: '339x' }}">{{ block.settings.title }}</a>
                {% endif %}  
              {% endif %}
            {% endfor %}
          </div>
          {% endfor %}   
      </div>
      <div class="col image">
        <a class="moretips" href="/pages/monogram-etiquette">More Tips for Monograms</a>
        <p class="sample">Ex: Sophia Louise Maxwell</p>
        {% for block in section.blocks %}
          {% if forloop.first == true %}
            <img id="sampleImg" src="{{ block.settings.image | img_url: '339x'}}" />
            <span class="caption">{{ block.settings.type | capitalize }} {{ block.settings.title }}</span>
            {% break %}
          {% endif %}
        {% endfor %}  
      </div>
  </div>
</section>
</div>
<div class="reviews">
    <div class="wrap">
      {% include 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true %}
    </div>
</div>
  {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
  {% else %}
    {% assign col = product.collections.last.handle %}
  {% endif %}

  {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
      {% assign related_collection_handle = tag | remove: 'meta-related-collection-' %}
      {% if collections[related_collection_handle].all_products_count > 0 %}
        {% assign col = related_collection_handle %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if col and collections[col].all_products_count > 0 %}
    {% if collections[col].all_products_count != 1 or collections[col].products.first.id != product.id %}
      {% assign skip_product = product %}
      {% assign rel_products = collections[col].products %}
       <div class="related">
          <h2>{{ section.settings.related_title }}</h2>
          <div class="all-related">
		  {% for product in rel_products limit: 3 %}
            <div class="item">
                {% if product.featured_image != blank %}
                <a href="{{ product.url | within: collection }}">
                  <img src="{{ product.featured_image | img_url: '250x250', crop: 'center' }}"/>
                </a>
              {% endif %}
              <h3>
                <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
              </h3>
              <span>{{ product.price | money }}</span>
            </div>
          {% endfor %}
	  </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "related_title",
        "label": "Related Title"
      },
      {
        "type": "text",
        "id": "mono_title",
        "label": "Monogram Title"
      }
    ],
    "blocks": [
    {
      "type": "monogram",
      "name": "Monogram",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "SINGLE FEMALE",
              "label": "SINGLE FEMALE"
            },
            {
              "value": "MARRIED FEMALE",
              "label": "MARRIED FEMALE"
            },
            {
              "value": "MARRIED COUPLE",
              "label": "MARRIED COUPLE"
            },
            {
              "value": "MALE",
              "label": "MALE"
            },
            {
              "value": "CHILDREN",
              "label": "CHILDREN"
            },
            {
              "value": "COUPLES WITH DIFFERENT LAST NAMES",
              "label": "COUPLES WITH DIFFERENT LAST NAMES"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
  }
{% endschema %}
{% javascript %}
  const sample_pic = document.querySelector('#sampleImg');
  console.log(sample_pic.src);

  const sampleLinks = document.querySelectorAll('.example');
  sampleLinks.forEach(function(link) {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      sample_pic.src = link.href;
      console.log(link.href);
    });
  });
{% endjavascript %}